<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Movie Player</title>
</head>
<body>
    <h1>Movie Player</h1>
    <video width="320" height="240" controls>
        <source src="http://localhost:5000/video/28e3d2c0bb44c831deb9b469e4a4aa2b.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
